# Created by venv; see https://docs.python.org/3/library/venv.html
myenv/
models/__
.ipynb_checkpoints/
__pycache__/
.venv
data/marketing_campaign.csv
data/products.csv
data/sell_data.csv
data/stock.csv
